<form #reactForm="ngForm" [formGroup]="formPedido" (ngSubmit)="addPedido()">
  <h1>Agregue su pedido:</h1>
  <table>
    <tr>
      <th>ID pedido:</th>
      <th>ID cliente:</th>
      <th>Forma de pago:</th>
      <th>Dirección</th>
    </tr>
    <tr>
      <td><input type="number" formControlName="idPedido" required readonly></td>
      <td><input type="number" formControlName="idCliente" required></td>
      <td><input type="text" formControlName="formaPago" required></td>
      <td><input type="text" formControlName="direccionEntrega" required></td>
    </tr>
  </table>
  <button type="button" [disabled]="reactForm.invalid" (click)="goToDetalles()">Agregar productos</button>
  <router-outlet></router-outlet>
  <br><br>
  <button type="submit" [disabled]="reactForm.invalid || pedidosService.carrito.length==0">Enviar pedido</button>
</form>

<h3>Lista de pedidos:</h3>
<table>
  <tr>
      <th>ID Pedido</th>
      <th>ID cliente</th>
      <th>Nombre cliente</th>
      <th>Forma de pago</th>
      <th>Dirección de entrega</th>
  </tr>
  <tr *ngFor="let pedidoList of pedidosService.mostrarPedido()">
      <td>{{pedidoList.idPedido}}</td>
      <td>{{pedidoList.nombreCliente}}</td>
      <td>{{pedidoList.formaPago}}</td>
      <td>{{pedidoList.direccionEntrega}}</td>
  </tr>
</table>

<h3>Lista de productos:</h3>
<table>
  <tr>
      <th>ID Pedido</th>
      <th>ID Producto</th>
      <th>Cantidad</th>
  </tr>
  <tr *ngFor="let listDetalle of pedidosService.mostrarDetalle()">
      <td>{{listDetalle.idPedido}}</td>
      <td>{{listDetalle.idProducto}}</td>
      <td>{{listDetalle.cantidad}}</td>
  </tr>
</table>
